# Common
.DS_Store
*.swp
*.lock
.env
.env.local

# Xcode / iOS
build/
DerivedData/
*.xcworkspace
xcuserdata/
ThumbnailKeySection.plist
*.moved-aside
*.xcuserstate
**/*.orig

# Sensitive iOS files
t02web/GoogleService-Info.plist
iOSApp/t02web/GoogleService-Info.plist

# Node / Web
node_modules/
dist/
dist-ssr/
*.local

# Sensitive Web files
web/src/firebaseConfig.js
WebApp/src/firebaseConfig.js

# Misc
.cache/
.eslintcache
